{% extends 'lmn/base.html' %}
{% block content %}


<h2 id="note_page_title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ note.user }}</a></h2>

<p id="note_title"><b>{{ note.title}}</b></p>
<p id="note_text">{{ note.text }}</p>
{% if note.photo %}
  <p id="note_photo"><img src="{{ note.photo.url }}"></p>
{% else %}
  <p id="note_photo_label">No photo uploaded</p>
{% endif %}

{% if request.user == note.user %}
  <form action="{% url 'lmn:note_detail' note_pk=note.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ photo_form.as_p }}
  <button type="submit">Update Photo</button>
  </form>
{% endif %}

{% endblock %}
