body {
  background-color: #5c445e !important;
  font-family: monospace;
  color: white !important;
}

button {
  background-color: #ffc704;
  color: black !important;
}

#welcome_user_msg, #login_or_sign_up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

#login_form input, #registration_form input {
  color: black;
}

#login_form, #registration_form {
 color: white;
}

#login_form.tr, #registration_form.tr {
  padding-top: 2px;
  padding-bottom: 2px;
}

#login_form.th, #registration_form.th {
  text-align: right;
}

.venue-search-input, .artist-search-input, .user-input {
  color: black !important;
}

/* ---------- */

/* base.html */
.base-bg {
  background-image: url(../../media/assets/First_Avenue_Exterior_-_Stars_3.JPG);
  background-size: cover;
  margin-top: -20px;
}

.titlebar-links {
  color: white !important;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.titlebar-links a:link, .titlebar-links a:visited, .titlebar-links a:active {
  color: white;
}

.titlebar-links a:hover {
  color: #5c445e;
  text-decoration: none;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.titlebar-sub-links {
  font-family: monospace;
  font-weight: bold;
  color: white;
}

.titlebar-center-links {
  text-align: center;
  word-spacing: 10px;
}

.titlebar-right-links {
  
}

.page-title {
  font-family: stencil;
  text-align: center;
  font-size: 72px;
}
/* end base.html */

/* ------------- */

/* home.html */
.block-content {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: monospace;
  text-align: center;
  font-size: 18px;
}

.block-content a:link, .block-content a:visited, .block-content a:active {
  color: #ffc704;
  font-weight: bold;
  text-decoration: none;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.block-content a:hover {
  color: white;
}

/* end home.html */

/* ---------------- */

/* note_list.html */

/* end note_list.html */

/* ------------------ */

/* note_detail.html */
.photo-form {
  background-color:#ffc704;
  color: black !important;
}

/* end note_detail.html */

/* -------------- */